.container {
    font-size: 10px;
}

.exemplo1 {
    /* 2em = 20px por causa do pai(container) */
    font-size: 2em;
}

.exemplo2 {
    /* 2rem =  40px por causa do pai principal(html), mesmo estando no container*/
    font-size: 2rem;
}

.exemplo3 {
    /* 2rem =  40px por causa do pai(html)*/
    font-size: 2rem;
}

.html {
    font-size: 20px;
}