ul{
    /* list-style: none; */
    /* list-style-image: url(cr7-logo-16px.png); */
    /* border: 1px solid black; */
    /* list-style-position: inside; */
    /* padding: 0; */
}
li{
    /* border: 1px solid blue; */
    /* padding-left:6px; */
    background-color: rgb(255, 192, 3);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    
}
ol{
    background-color: #09c;
    padding: 30px;
    list-style: upper-alpha;
}
body{
    margin: 0;
    padding: 0;
}