div{
    height: 300px;
    width: 500px;
    /*Metodo de inserção shorthand background-color, background-image, background-size, background-repeat, background-attachment, background-position  */
    /* background-color: rgb(240, 100, 0);
    background-image: url('Imagens/BackgroundImage.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; */
    background: rgb(240, 100, 0) url('Imagens/BackgroundImage.png')no-repeat top right;
    background-size: cover;
}
p{
    width: 300px;
    background-color: aquamarine;
    background-image: url('./Imagens/Fundo_abstrato.jpg');
    background-size: cover;
}